# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client
/client/node_modules
/client_code/node_modules
/server/node_modules
/client/.pnp
.pnp.js

# testing
/client/coverage
/client_code/coverage

# production
/client/build
/client_code/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
